[project]
	description = test of code review
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Angel Grablev (agrublev)
[access "refs/for/refs/*"]
	read = group user/Angel Grablev (agrublev)
	push = group user/Angel Grablev (agrublev)
	label-Code-Review = -2..+2 group user/Angel Grablev (agrublev)
	label-Verified = -1..+1 group user/Angel Grablev (agrublev)
	rebase = group user/Angel Grablev (agrublev)
	removeReviewer = group user/Angel Grablev (agrublev)
	submit = group user/Angel Grablev (agrublev)
[access "refs/heads/*"]
	read = group user/Angel Grablev (agrublev)
	create = group user/Angel Grablev (agrublev)
	push = +force group user/Angel Grablev (agrublev)
	pushMerge = group user/Angel Grablev (agrublev)
[access "refs/tags/*"]
	push = group user/Angel Grablev (agrublev)
	push = +force group user/Angel Grablev (agrublev)
